.scheduleContainer {
  text-align: center;
  border: 1px solid black;
  margin: 50px auto;
  max-width: 90%;
  max-width: 400px;
}

.scheduleHeader {
  background-color: lightblue;
  font-size: large;
  padding: 10px;
}

.scheduleLi {
  padding: 8px 16px;
}

.scheduleLi:nth-child(2n) {
  background-color: gainsboro;
}