.scheduleContainer {
  text-align: center;
  border: 1px solid black;
  margin: 40px auto 0;
  max-width: 300px;
}

.draggable-container {
  /* Position-Relative bounds the Draggable schedule elements within this container */
  position: relative;
}

.scheduleHeader {
  background-color: lightblue;
  font-size: large;
  padding: 10px;
}

.scheduleLi {
  cursor: grab;
  height: 30px;
  display: grid;
  align-items: center;
}

.scheduleLi:nth-child(2n) {
  background-color: gainsboro;
}

.react-draggable-dragging {
  transform: scale(1.5);
  background-color: rgba(20,20,20,0.15)
}